<div id="form">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <label><span>Name activity</span><input type="text" name="name" formControlName="name"></label>
    <label><span>Site</span><input type="text" name="site" formControlName="site"></label>
    <label><span>Date</span><input type="date" name="date" formControlName="date" (change)='updateDate()'></label>
    <label><span>Difficulty</span><input type="text" name="difficulty" formControlName="difficulty"></label>
    <label><button type="submit" [disabled]="!createForm.valid">Create Activity</button></label>
  </form>
  <app-weather [date]='dateSelected'></app-weather>
</div>

<a [routerLink]="[ '/', 'app', 'list' ]">Go to List</a>
