#popup-delete-confirm {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 9;
}

#popup-delete-confirm>#pdc-box {
  top: 50%;
  left: 50%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  background-color: #fff;
  position: absolute;
}

#popup-delete-confirm>#pdc-box>button {
  padding: 10px;
  display: block;
}
